* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  /* Primary Brand */
  --color-primary: #1E3A8A;   /* Deep Navy */
  --color-accent: #2563EB;    /* Bright Tech Blue */

  /* Secondary Brand */
  --color-success: #10B981;   /* Emerald Green */
  --color-warm: #F59E0B;      /* Soft Orange */
  --color-highlight: #7C3AED; /* Royal Purple */
  --color-danger: #EF4444;    /* Coral Red */

  /* Neutrals */
  --color-bg: #F9FAFB;        /* Page background */
  --color-surface: #FFFFFF;   /* Cards and content */
  --color-border: #E5E7EB;    /* Lines/dividers */
  --color-text-primary: #111827; /* Main text */
  --color-text-secondary: #6B7280; /* Subtext */

  /* Shadows */
  --shadow-card: 0 2px 10px rgba(0, 0, 0, 0.05);
}

header {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-accent);
    color: white;
    align-items: center;

}
header img {
    width: 154px;
    height: auto;
}
nav a {
    text-decoration: none;
    color: var(--color-text-primary);
    /* margin: 10px; */
}
nav ul {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-gap: 10px;
    list-style: none;
}
nav a {
    color: white;
}
nav a:hover {
    text-decoration: underline;
}
main img {
    width: 100%;
    height: auto;
}
.mat-background {
    display: grid;
    grid-template-columns: 1fr;
}
.mat-background img {
    grid-column: 1/2;
    grid-row: 1/2;
}
.mat-back {
    grid-column: 1/2;
    grid-row: 1/2;;
    justify-self: center;
    /* background-color: red; */
    /* align-self: center; */
}
.mat-back p {
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 2rem;
    font-weight: bold;
}
.mat-back a {
    text-decoration: none;
    color: white;
    background-color: var(--color-highlight);
    padding: 20px;
    border-radius: 15px;

}
.mat-back a:hover {
    background-color: var(--color-success);
    
}
/* main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
} */
.home {
    background-color: var(--color-highlight);
}
.main {
    background-color: var(--color-text-secondary);
}
.side {
    background-color: var(--color-text-primary);
}
.section {
    padding: 200px;
}
.mat {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: underline;
}
footer {
    text-align: center;
    background-color: var(--color-primary);
    color: white;
}
